.text-ellipsis-line-1{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
  }
