.WidhtEvent {
    width: 15vw;

    border: 1px solid gold !important;
    justify-content: center;
    border-radius: 10px;
    background-color: #151515;
}

.CheckIB {
    background-color: #DDA336 !important;
    color: #151515 !important;
}

.Number {
    background-color: #302f2f;
    font-size: 29px;
    border-radius: 10px;
    color: white;
    width: 60px;
    font-weight: 600;
    border: none !important;
}

.NumAdd {
    background: #302f2f;
    color: white;
    font-weight: 600;
    /* padding: 9px;
    cursor: pointer; */
    font-size: 20px;
    border: 1px solid gold !important;
}

.cards {}

.divS {
    border-bottom: 1px solid goldenrod;
}


.centeredSX {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredSXS {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredSX1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Back {
    width: 100px;
    height: 40px;
    margin: 20px;
    background: #ADF1E7;
    border-radius: 10px;
}

.Confirm {
    width: 100px;
    height: 40px;
    margin: 20px;
    background: linear-gradient(102.45deg, #F5EA45 28.52%, #DDA336 52.38%, #E7A725 72.31%);
    border-radius: 10px;
}

.Back:hover {
    width: 100px;
    height: 40px;
    margin: 20px;
    background: #f0f7f6;
    border-radius: 10px;
}

.Confirm:hover {
    width: 100px;
    height: 40px;
    margin: 20px;
    color: gold;
    border: 1px solid gold;
    background: none;
    border-radius: 10px;
}

.selects{
    background-color: #302f2f;
    font-size: 25px;
    border-radius: 10px;
}


@media screen and (max-width: 1400px) {
    .WidhtEvent {
        width: 12vw;

        border: 1px solid gold !important;
        justify-content: center;
        border-radius: 10px;
        background-color: #151515;
    }

    .Number {
        background-color: #302f2f;
        font-size: 25px;
        border-radius: 10px;
        color: white;
        width: 40px !important;
        font-weight: 600;
        border: none !important;
    }
  }


/* /////////////? */

.fontLA{
    font-size: 18px;
    font-weight: 150 !important;
}
.custom-control-label::before {
  top: 0.1rem;
  left: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px solid #FFD910;
}


.custom-control-label:hover.custom-control-label::before {
    box-shadow: 0px 2px 5px rgba(201, 198, 0, 0.6);
  }

.custom-control-label::after {
    top: .4rem;
    left: -1.25rem;
    width: 1rem;
    height: 1rem;
  }


.custom-control-label {
  margin-bottom: .5rem;
  padding-left: 12px;
}

.custom-control-label:hover.custom-control-label::before {
    box-shadow: 0px 2px 5px rgba(201, 198, 0, 0.6);
  }


.custom-control-label::after {
  top: -.1rem;
  left: -1.75rem;
  width: 2rem;
  height: 2rem;
  }

.BorderRpo{
    border-bottom: 1px solid white;
}


.custom-nav-item{
    width: 180px;
}

.AddC {
    border-top: 1px solid gold !important;
}

.cards {
    border: 1px solid #FFD910 !important;
}

.Buths {
    margin-top: 25px;
}

.ARRimg {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.custom-navx{
    /* position: relative; */
}
.mnssa{
    /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.BorderInSA{
    background-color: #242424;
    border-radius: 5px;
    border: 1px solid rgba(230, 230, 250, 0.562);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Chexka{

    width: 70px !important;
    text-align: center;
}



.custom-control-label::before {
  top: 0.1rem;
  left: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 2px solid #ffbb00;
}


  .custom-control-label:hover.custom-control-label::before {
    box-shadow: 0px 2px 5px rgba(252, 206, 3, 0.6);
  }

  .custom-control-label::after {
    top: .4rem;
    left: -1.25rem;
    width: 1rem;
    height: 1rem;
  }


  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    background-color: #ffbb00;
    border-radius: 50%;
    border: 2px solid white;
  }

  .custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
    border: 2px solid #dee2e6;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #e9ecef;
  }

  .custom-control-input:disabled:checked~.custom-control-label::after {
    background-color: #9ca0b1;
    background-image: none;
    border-radius: 50%;
        border: 2px solid #e9ecef;
  }


  .BTNdone{
      font-weight: 600;
  }





.custom-control-label {
  margin-bottom: .5rem;
  padding-left: 5px;
}

.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #fff;
    border: 2px solid #007bff;
  }
  .custom-control-label:hover.custom-control-label::before {
    box-shadow: 0px 2px 5px rgba(0, 117, 201, 0.6);
  }
  .custom-control-input:checked ~ .custom-control-label::after {
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25.412' height='19.855' viewBox='0 0 25.412 19.855'%3e%3cpath id='check' d='M22.6,3.8,8,19.4,1.4,11.7,0,12.9l7.9,9.3L24,5.1Z' transform='translate(0.703 -3.095)' fill='%23007bff' stroke='%23007bff' stroke-width='1'/%3e%3c/svg%3e ");
  }

  .custom-control-label::after {
  top: -.1rem;
  left: -1.75rem;
  width: 2rem;
  height: 2rem;
  }

  .custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
    border: 2px solid #dee2e6;
  }

  .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #e9ecef;
  }

  .custom-control-input:disabled:checked~.custom-control-label::after {
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25.412' height='19.855' viewBox='0 0 25.412 19.855'%3e%3cpath id='check' d='M22.6,3.8,8,19.4,1.4,11.7,0,12.9l7.9,9.3L24,5.1Z' transform='translate(0.703 -3.095)' fill='%239ca0b1' stroke='%239ca0b1' stroke-width='1'/%3e%3c/svg%3e ");
  }

}
